body {
    background-color: #fff;
}

.login {
    text-align: center;
    background-color: #fff;
    width: 300px;
    height: 500px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

img {
    height: 200px;
}

h2 {
    padding: 10px 0px;
}

label {
    padding: 10px 0px;
}

input {
    margin: 1px;
    padding: 2px 0px;
    width: 270px;
    border-radius: 4px;
    transition: 0.3s;
    border: 1px rgb(116, 249, 255);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

button {
    color: #fff;
    background-color: rgb(110, 235, 241);
    margin: 35px;
    padding: 5px;
    border-radius: 4px;
    border: 0px;
    transition: .3s;
}

input:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: rgb(0,0,0,0.9);
}