.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}
body {
  background-image: linear-gradient(to top,#0d50a9,#99f5e0);
}
main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: #6eebf1;
}

.imagen_usuario {
  border-radius: 150px;
  margin: 0px 4px;
  width: 30px;
  float: right;
}
#product-list-container {
  text-align: left;
}

.col {
  display: inline;
}
.product-info {
  margin: 70px 0px;
  display: grid;
  grid-template-columns: [col-1-inicio] 50px [col-2-inicio] 700px [col-3-inicio] 1fr [col-4-fin] ;
  grid-template-rows: 400px 1fr ;
  grid-gap: 0px 30px;
}
.principal {
  margin: auto;
  transition: .4s;
}

#imagen-principal{
  height: 400px;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
}

.otrasImg{
  margin: auto;
  object-fit: cover;
  height: 44px;
  width: 44px;
  margin-bottom: 4px;
  border-radius: 4px;
  border:solid 0.5px;
  border-color: #6eebf1;
}
.info-product-related-product{
  display: grid;
  grid-template-rows: 400px 250px;
  grid-auto-rows: auto;
  grid-gap:30px;
  position:static;
}
.accionSobreProduct {
  width: 266px;
  height: 400px;
  background-color: #fdfda0;
  margin:0px 20px;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  justify-content: center;
} 
.porducts_rel{
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 10px;
}
.ir-al-producto-rel{
  transition: .4s;
}
.ir-al-producto-rel:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.1);
}
.otrasImg:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.principal:hover {
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}
.comprar{
  margin: 30px auto;
}
.agregarCarrito {
  margin-bottom: 30px; 
}
.tamaño-info-product {
  height: 250px;
  margin-bottom: 20px;
}
.comprar , .agregarCarrito {
  margin: 10px 35px;
  position:relative;
  border:solid #6eebf1 .025rem;
  height: 35px;
  width: 200px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  color:black;
  transition: .3s;
}
.comprar:hover , .agregarCarrito:hover {
  background-color: #4ae84a;
  color:#fff;
}
.resaltador {
  margin-top: 4px;
  color:black;
}
.coment {
  display:grid;
  grid-template-columns: 750px;
  grid-row-gap: 10px;
  width:800px;
  margin: 0px 0px 100px 100px;
}
/* .coment::-webkit-scrollbar{
  border-radius: 20px;
  display: block;
}
.coment::-webkit-scrollbar {
  -webkit-appearance: none;
}

.coment::-webkit-scrollbar:vertical {
  width:10px;
}

.coment::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

.coment::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.coment::-webkit-scrollbar-track {
  border-radius: 10px;  
} */

.opinion-de-usuarios {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  border-radius: 4px;
  background-color: #eee;
}
.prod-rel {
  display:flex;

}
.invitacion-a-comentar {
  margin: 5px 0px 0px 25px;
}
.ingresar-comentario {
  border-radius:4px;
  margin-bottom: 20px;
  background-color: #fff;
  border:solid 0.25px rgba(0, 0, 0, .1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}
.comentario-usuario {
  margin:0px 20px;
  border-radius:4px;
  width: 700px;
  min-height: 125px;
  border:solid 0.5px #6eebf1 ;
}

.enviar-coment {
  width: 70px;
  margin:0px 5px 5px 0px;
  padding: 4px;
  display:block;
  border:none;
  border-radius: 4px;
  background-color:#6eebf1;
  color:black;
  float: right;
  transition: 0.3s;
}
.enviar-coment:hover {
  background-color: black;
  color: #fff;
}
.puntuacion {
  margin: 2px 0px 0px 20px;
  border-radius: 4px;

}
.reseña {
  text-indent: 50px;
  color:#6e5c5c;
}

.dorpdown-btn {
  border-radius: 4px 8px 8px 4px;
  min-width: 100px;
  max-height: fit-content;
  background-color: #6eebf1;
  border: none;
  transition: 0.3s;
}
.dropdown{
  display: inline-block;
  position: relative;
}
.dropdown-content{
  position: absolute;
  display: none;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius:4px;
}
.dropdown-content a {
  cursor: pointer;
  display: block;
  color: black;
  padding: 10px;
}
.dropdown-content a:hover{
  background-color: #f1f1f1;
  border-radius:4px;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, .5);
}
.dropdown:hover .dorpdown-btn {
  background-color: black;
  color:#fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-name{
  margin:0px;
  display: inline-block;
  transition: .3s;
}